%main.mx-auto.flex.min-h-screen.w-full.items-center.justify-center.text-white
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo': false }) do |f|
    %section.flex.flex-col.space-y-10{ class: 'w-[30rem]' }
      .text-center.text-4xl.font-medium Create your account
      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.email_field :email, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Email or Username', autocomplete: 'off'
      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.password_field :password, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Password', autocomplete: 'off'

      .w-full.transform.border-b-2.bg-transparent.text-lg.duration-300.focus-within:border-indigo-500
        = f.password_field :password_confirmation, class: 'w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none', placeholder: 'Password confirmation', autocomplete: 'off'
      =f.submit 'Create', class: 'transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400'
      %p.text-center.text-lg.my-0
        Already have an account?
        = link_to 'Log In', new_user_session_path, class: 'font-medium text-indigo-500 underline-offset-4 hover:underline'
